name: CI/CD workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  REGISTRY_NAME: ghcr.io
  REGISTRY_USERNAME: ${{ github.actor }}
  REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
  APPLICATION_NAME: ${{ github.repository }}

jobs:
  build-and-test-code:
    name: Build and test the code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup temurin JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
          cache: maven
      - name: Build and test code
        run: |
          mvn -B clean verify
          mkdir -p artifacts artifacts/otel artifacts/target
          cp Dockerfile artifacts
          cp otel/*.jar artifacts/otel
          cp target/*.jar artifacts/target
      - name: Upload artifacts folder
        uses: actions/upload-artifact@v5
        with:
          name: artifacts
          path: artifacts
          if-no-files-found: error
  build-and-push-image:
    name: Build and push the image
    needs: [ build-and-test-code ]
    runs-on: ubuntu-latest
    steps:
      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to the registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY_NAME }}
          username: ${{ env.REGISTRY_USERNAME }}
          password: ${{ env.REGISTRY_PASSWORD }}
      - name: Generate metadata
        uses: docker/metadata-action@v5
        id: docker_meta
        with:
          images: ${{ env.REGISTRY_NAME }}/${{ env.APPLICATION_NAME }}
          tags: |
            type=sha
            type=raw,value=latest
      - name: Download artifacts folder
        uses: actions/download-artifact@v6
        with:
          name: artifacts
          path: .
      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          # push: ${{ github.ref == 'refs/heads/main' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          context: .